/* stylesheet for index.html */
/* Last updated October 20th */

body {
  background-color:darkseagreen;
}

h1 {
  font-family: verdana;
  color: Black;
  text-align: right;
  margin-right: 75px
}

h2 {
  font-family: Georgia;
  color: Black;
  text-align: left;
  margin-left: 150px
}

h3 {
  font-family: Georgia;/* https://www.w3schools.com/css/css_text.asp */
  color: Black;
  text-align: left;
  margin-left: 25px
}


h4 {
  font-family: Georgia;
  color: Black;
  text-align: left;
  margin-left: 25px
}

li {
  color: black;
  font-family: Georgia;
}



img {
   float:right;width:426px;height:300px;
   margin-top: -50px; /* tried negatives out and it moved the image where I wanted */
   margin-bottom: 100px;
   margin-right: 75px;
   margin-left: 75px;
   border-style: solid;
}


/* unvisited link */
/* https://www.w3schools.com/css/css_link.asp */

a:link {
  color: green;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: BlanchedAlmond;
}


.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;   
    overflow: hidden;
    background-color: #2C2f33;/* This is discord grey because I like it  https://www.onlinepalette.com/discord/#:~:text=Discord%20uses%20the%20colors%20blurple,88%2C%20101%2C%20242).*/
}

.navItem {
   float: left;
   font-size: 20px;
   padding: 15px;
   margin-left:20px;
   text-align: center;
    }

.navLink {
    font-family: verdana;
    }
